<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"></link>
    <title>Document</title>
</head>
<style>
h2{
    height: 100px;
    width: 200px;
    text-align: center;
    border: solid black 1px;
    margin-left: 100px;
    background-color: cornflowerblue;
    color: cornsilk;
}

</style>

<body>
    <h1>Yo Kyllia!</h1>
   
    <h2> Time is {{currenttime}}</h2>

</body>
</html>